@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
  background-color: black;
  height: 100vh;
}

header {
  margin: 0;
  display: flex;
  color: white;
  justify-content: space-between;
  height: 85px;
  align-items: center;
}

.initials {
  font-size: 2em;
  color: white;
  margin: 0 1em;
}

.menu {
  display: flex;
  padding: 2em;
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  border: 0;
  font-size: 20px;
  align-items: center;
}

.icon {
  font-size: 1.5em;
  margin-left: 0.3em;
}

.content {
  display: table;
  height: calc(100vh - 190px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.title {
  display: table-row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 80px;
  line-height: 85px;
  font-family: 'Khula', sans-serif;
  font-weight: 800;
  color: white;
  max-width: 800px;
  min-height: 100px;
  height: 250px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.125em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: grey;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  line-height: 22px;
}